@page
@model animalShelter.Pages.Dogs.DetailsModel

@{
    ViewData["Title"] = "Dog Details";
}
<br/>
<div>
    <h4>Dog Details</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Sex)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Sex)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Summary)
        </dd>
        <dd>
            @if (Model.Dog.MainImagePath != null)
            {
                <img class="card-img-top" src="/uploads/@Model.Dog.MainImagePath" alt="dogImage">
            }
            else
            {
                <img class="card-img-top" src="https://placedog.net/800/640?id=26" alt="Card image">
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./List">Back to List</a>
</div>