@page
@model animalShelter.Pages.Dogs.IndexModel

@{
    ViewData["Title"] = "Dogs";
}

<div class="text-center">
    <h1 class="align-center">Meet the dogs</h1>
</div>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter"/>
            <input type="submit" value="Search" class="btn btn-primary"/> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<div class="container">
    <div class="row">
        @foreach (var item in Model.Dogs)
        {
            <div class="col-sm-6 col-md-4">
                <div class="card border-secondary mb-3" style="...">

                    @if (item.MainImagePath != null)
                    {
                        <img class="card-img-top" src="/uploads/@item.MainImagePath" alt="dogImage">
                    }
                    else
                    {
                        <img class="card-img-top" src="https://placedog.net/800/640?id=26" alt="Card image">
                    }

                    <div class="card-body">
                        <h2 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h2>
                        <h5 class="card-breed">breed:@Html.DisplayFor(modelItem => item.Breed)</h5>
                        <h5 class="card-sex">sex: @Html.DisplayFor(modelItem => item.Sex)</h5>
                        <p class="card-summary">@Html.DisplayFor(modelItem => item.Summary)</p>
                        <a asp-page="./Details" asp-route-id="@item.DogID">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@{
    var prevDisabled = !Model.Dogs.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Dogs.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Dogs.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Dogs.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>