@page
@model animalShelter.Pages.Cats.IndexModel

@{
    ViewData["Title"] = "Cats";
}
<br/>
<div class="text-center">
    <h1 class="align-center">Meet the Cats</h1>
</div>
<br/>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter"/>
            <input type="submit" value="Search" class="btn btn-primary"/> |
            <a asp-page="./Index">Back to Full List</a>
        </p>
    </div>
</form>

<div class="container">
    <div class="row">
        @foreach (var item in Model.Cats)
        {
            <div class="col-sm-6 col-md-4">
                <div class="card border-secondary mb-3" style="...">

                    @if (item.MainImagePath != null)
                    {
                        <img class="card-img-top" src="/uploads/@item.MainImagePath" alt="catImage">
                    }
                    else
                    {
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2018/12/12/23/33/cat-3871896__480.jpg" alt="Card image">
                    }

                    <div class="card-body">
                        <h2 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h2>
                        <h5 class="card-breed">Breed:@Html.DisplayFor(modelItem => item.Breed)</h5>
                        <h5 class="card-sex">Sex: @Html.DisplayFor(modelItem => item.Sex)</h5>
                        <p class="card-summary">@Html.DisplayFor(modelItem => item.Summary)</p>
                        <a asp-page="./Details" asp-route-id="@item.CatID">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@{
    var prevDisabled = !Model.Cats.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Cats.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Cats.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Cats.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>