@page
@model animalShelter.Pages.Cats.ListModel

@{
    ViewData["Title"] = "Cats";
}
<br/>

<p>
    <a asp-page="Create">Create New Cat</a>
</p>

<table class="table table-hover">
    <thead>
    <tr class="table-dark">
        <th>
            <a asp-page="./List" asp-route-sortOrder="@Model.NameSort">

                @Html.DisplayNameFor(model => model.Cats[0].Name)</a>
        </th>
        <th>
            <a asp-page="./List" asp-route-sortOrder="@Model.DateSort">

                @Html.DisplayNameFor(model => model.Cats[0].Dob)</a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cats[0].Breed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cats[0].Sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cats[0].Summary)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Cats)
    {
        <tr class="table-active">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.CatID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CatID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CatID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>