@page
@model animalShelter.Pages.Users.IndexModel

@{
    ViewData["Title"] = "Users";
}
<br/>
<p>
    <a asp-page="Create">Create New User</a>
</p>
<table class="table table-hover">
    <thead>
    <tr class="table-dark">
        <th>
            @Html.DisplayNameFor(model => model.Users[0].FirstName)
        </th>
        <th>
            <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                @Html.DisplayNameFor(model => model.Users[0].LastName)
            </a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].AddressLine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].Postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users[0].IsAdmin)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Users)
    {
        <tr class="table-active">
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressLine1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdmin)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>